<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqw.agent_app.mapper.MessageMapper">

    <resultMap id="MessageResultMap" type="com.zqw.agent_app.model.po.MessageLogPO">
        <result property="messageId" column="message_id" />
        <result property="sessionId" column="session_id" />
        <result property="role" column="role" />
        <result property="content" column="content" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <insert id="insert" parameterType="com.zqw.agent_app.model.po.MessageLogPO" useGeneratedKeys="true" keyProperty="messageId">
        INSERT INTO message_log
            (session_id, role, content, create_time)
        VALUES
            (
                #{sessionId},
                #{role},
                #{content},
                NOW()
            )
    </insert>

    <select id="getRecentMessages" resultType="com.zqw.agent_app.model.po.MessageLogPO">
        SELECT
            message_id, session_id, role, content, create_time
        FROM
            message_log
        WHERE
            session_id = #{sessionId}
        ORDER BY
            create_time DESC
            LIMIT #{limit}
    </select>
     <select id="countMessagesBySessionId" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            message_log
        WHERE
            session_id = #{sessionId}
    </select>

    <select id="getMessagesSinceLastSummary" resultType="com.zqw.agent_app.model.po.MessageLogPO">
        SELECT
            t1.message_id, t1.session_id, t1.role, t1.content, t1.create_time
        FROM (
                 SELECT
                     message_id, session_id, role, content, create_time
                 FROM
                     message_log
                 WHERE
                     session_id = #{sessionId}
                 ORDER BY
                     create_time DESC
                     LIMIT 10
             ) t1
        ORDER BY
            t1.create_time ASC
    </select>

    <select id="getMessagesSinceLastSummaryByTime" resultType="com.zqw.agent_app.model.po.MessageLogPO">
        SELECT
            message_id, session_id, role, content, create_time
        FROM
            message_log
        WHERE
            session_id = #{sessionId}
          AND create_time > #{lastSummaryTime}
        ORDER BY
            create_time ASC
    </select>

    <select id="countMessagesSinceLastSummary" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            message_log
        WHERE
            session_id = #{sessionId}
          AND create_time > #{lastSummaryTime}
    </select>

    <select id="getMessageBySessionId" resultMap="MessageResultMap">
        SELECT
            session_id, role, content
        FROM
            message_log
        WHERE
            session_id = #{sessionId}
        ORDER BY
            message_id ASC
    </select>


</mapper>